//-----------------------------------
// Component M-4.3: Search Box
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions, Extends etc...)
@import "../../../global/css/_config/sass";

.eaton-product-back-to-search {
  margin: $spacing__sm 0 0 0;

  i {
    font-size: 1.0666rem;
    padding-left: 0;
    padding-right: rem($spacing__sm / 6);

    [dir='rtl'] & {
      padding-left: rem($spacing__sm / 6);
      padding-right: 0;

      &::before {
        transform: rotate(180deg);
      }
    }
  }

  //-----------------------------------
  // 0-991px
  //-----------------------------------
  @include media-mobile-and-tablet {
    margin: 0;
  }


  //-----------------------------------
  // 768px to 991px
  //-----------------------------------
  @include media-tablet-only {
    width: 50%;
  }
}
