//-----------------------------------
// EATON: SASS Variables
//-----------------------------------

// Typography
//--------------
$base__font-size: 10px;
$base__line-height: 1.4;

$font-family__eaton-primary: 'Eaton';
$font-family__primary: 'Eaton', Arial, sans-serif;
$font-family__primary-bold: 'EatonBold', Arial, sans-serif;
$font-family__primary-medium: 'EatonMedium', Arial, sans-serif;
$font-family__secondary: Arial, 'Arial', sans-serif;


$font-family__primary-v1: 'Eaton', 'Trebuchet MS', 'Lucida Grande', 'sans-serif';
$font-family__primary-v2: 'Eaton', 'Arial', 'HeisASC', 'sans-serif';
$font-family__primary-v3: 'Eaton', Arial, HeitASC, sans-serif;
$font-family__primary-bold-v1: 'EatonBold', Arial, sans-serif;
$font-family__primary-bold-v2: 'EatonBold', 'Arial', 'HeisASC', 'sans-serif';
$font-family__primary-medium-v1: 'EatonMedium', 'Arial', 'HeisASC', 'sans-serif';
$font-family__primary-regular-v1: 'eatonregular', 'Arial', 'sans-serif';
$font-family__primary-regular-v2: 'eatonregular', 'Trebuchet MS', 'Lucida Grande', 'sans-serif';

$font-family__secondary-as: 'Arial', 'sans-serif';
$font-family__secondary-ahs-2: 'Arial', 'HeisASC', 'sans-serif';
$font-family__secondary-ahs: 'Arial', 'Helvetica', 'sans-serif';
$font-family__secondary-ahhs: 'Arial', 'helvetica neue', 'helvetica', 'sans-serif';
$font-family__secondary-basrhas: 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';

$font-family__secondary-l: 'Lucida Grande';
$font-family__secondary-s: 'sans-serif';
$font-family__secondary-v: Verdana;
$font-family__secondary-m: monospace, monospace;
$font-family__secondary-hha: 'Helvetica Neue', 'Helvetica', 'Arial';
$font-family__secondary-js: 'Josefin Sans', 'sans-serif';
$font-family__secondary-llhas: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica', 'Arial', 'sans-serif';
$font-family__secondary-mclm: 'Monaco', 'Consolas', 'Lucida Console', 'monospace';
$font-family__secondary-nhals: 'Neue Helvetica W01', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
$font-family__secondary-ahas: adobe-clean,Helvetica,Arial,sans-serif;
$font-family__secondary-mmccm: Menlo, Monaco, Consolas, "Courier New", monospace;

