
<sly data-sly-use.data="com.eaton.platform.core.models.verticallinklist.VerticalLinkListModel">
	<div class="links-list-2-columns">
		<div data-sly-list.link="${data.listTypeArray}" class="${data.enableInnerGrid ? 'container' : ''}">			
			<div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
				<i data-sly-test="${link.isSecure}" class="icon icon-secure-lock" aria-hidden="true"></i>
				<a data-sly-test="${link.pagePath}" 
				   href="${link.pagePath @context='html'}" 
				   title="${link.headline}" 
				   target="${link.newWindow}" 
				   data-source-tracking="${link.enableSourceTracking}" 
				   rel="nofollow">${link.headline}</a>
				<div data-sly-test=${!link.pagePath}>${link.headline}</div>
			</div>
		</div>
	</div>
</sly>
