//-----------------------------------
// Drilldown Selection Tool Component
//-----------------------------------

// Import All SASS config files (Variables, Mixins, Functions etc...)
@import "../../../global/css/_config/sass";

.drilldown-selection-tool {

  .dropdown-list {

    &__dropdown {

      label {
        padding-top: 2rem;
        font-size: 2rem;
      }

      select {
        color: var(--primary-brand-color);
        font-weight: 800;
        font-size: 1.8rem;
      }

    }

  }

  .results-title {
    color: var(--grey-primary-brand-color);
    display: inline-block;
  }

  .results-list {

    margin-bottom: unset;
    display: flex;
    flex-flow: column;

    .results-item {

      padding: 1rem;

      img {
        width: 100%;
        border: 0.1rem solid var(--grey-secondary-brand-color);
      }

      &__title {
        text-align: left;
        color: var(--primary-brand-color);
        font-weight: bold;
        font-size: 1.6rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
      }

      &__description {
        text-align: left;
        color: var(--color__black);
      }
    }

  }

  .results-footer {

    &__load-more {
      text-align: center;
    }

    &__message {
      text-align: center;
      font-size: 2rem;
      font-family: var(--secondary-font);
    }

    &__error {
      text-align: center;
      font-size: 2rem;
      font-family: var(--secondary-font);
    }

    &__load-spinner {
      border: 5px solid var(--color__white);
      border-top: 5px solid var(--primary-brand-color);
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      animation: spin 400ms linear infinite;
      margin: auto;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }

      100% { transform: rotate(360deg); }
    }

  }

  @include media-mobile-only {

    .results-title {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }

  }

  @include media-tablet-and-up {

    .dropdown-list {

      &__dropdown {
        width: 50%;
      }

    }

    .results-title {
      font-size: 3rem;
      margin-bottom: 3rem;
      margin-top: 6rem;
    }

  }

}
