.cq-commerce-products-childpages.list,
.cq-commerce-products-searchresults.list {
    .image i {
        font-size: 1.625rem;
        display: inline;
    }
    .image i:before {
        font-size: 1.625rem;
    }
    .card-asset {
        .descriptor {
            display: none;
        }
        .sku,
        .modified,
        .published {
            float: left;
        }
        .main      { width: 40%; }
        .sku       { width: 25%; }
        .modified  { width: 15%; }
        .published { width: 15%; }
    }
}


.cq-commerce-products-childpages.grid,
.cq-commerce-products-searchresults.grid {
    .image img {
        min-height: 8rem;
    }
    .card-asset {
        .descriptor {
            margin: 0.375rem 0.625rem -0.375rem;
            text-transform: uppercase;
        }
        .sku {
            display: none;
        }
    }
}


