// Import All SASS config files (Variables, Mixins, Functions etc...)
@import "../../../global/css/_config/sass";

.circle-number-list {
  counter-reset: my-awesome-counter;
  list-style: none;
  margin-top: 1rem;

  &_title {
    font-weight: bold;
  }

  li {
    margin: 0 0 3rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    font: normal normal bold 20px/35px;

    &::before {
      content: counter(my-awesome-counter);
      position: absolute;
      --size: 4.1rem;
      left: calc(-1 * var(--size) - 1rem);
      width: var(--size);
      height: var(--size);
      top: -1rem;
      border-radius: 50%;
      text-align: center;
      border: 0.2rem solid var(--primary-brand-color);
      color: var(--primary-brand-color);
      font-size: 2rem;
      line-height: 3.6rem;
    }
  }
}
