<sly data-sly-use.titleModel="com.eaton.platform.core.models.TitleModel">

    <div class="eaton-title eaton-title--eyebrow-and-byline">

        <div data-sly-unwrap="${ !titleModel.toggleInnerGrid }" class="container">

            <sly data-sly-test="${!titleModel.eyebrowLink}">
                <div class="eaton-title__eyebrow b-eyebrow-small"><i class="icon icon-chevron-left"></i>${ titleModel.eyebrowLabel}</div>
            </sly>
            <sly data-sly-test="${titleModel.eyebrowLink}">
                <a href="${titleModel.eyebrowLink}" class="eaton-title__eyebrow b-eyebrow-small"><i class="icon icon-chevron-left" target="_self" title="${titleModel.catLabel }"></i>${ titleModel.eyebrowLabel}</a>
            </sly>

            <!--/*
              NOTE: "titleModel.style" should have a value of "h1, h2, h3, h4, h5, or h6"
              This option allows the author to select the HTML tag for SEO purposes / Semantics
              Its important to keep the css class "b-heading-h1" since the appearance of the title should always be the same regardless of the HTML Tag
            */-->
			<sly data-sly-test=${!titleModel.title}>
				<h1 class="eaton-title__headline">${titleModel.currentPageTitle}</h1>
			</sly>
            <sly data-sly-test=${titleModel.type}>
                <div data-sly-element="${titleModel.type}"
                     class="eaton-title__eyebrow-and-byline b-heading-h1">${ titleModel.title @ context='html'}</div>
            </sly>
            <sly data-sly-test=${!titleModel.type}>
                <h2 class="eaton-title__headline b-heading-h1">${ titleModel.title @ context='html'}</h2>
            </sly>
        </div>

    </div>

</sly>
