<sly data-sly-test="${ wcmmode.edit }">
  <div class="alert alert-warning">Breadcrumb</div>
</sly>


<sly data-sly-use.data="com.eaton.platform.core.models.BreadcrumbModel">

  <div class="eaton-breadcrumb">
    <div class="container">
      <sly data-sly-test="${data.breadcrumbList.size < 6}">

        <ul data-sly-list.link="${data.breadcrumbList}" class="eaton-breadcrumb__list">
          <li class="eaton-breadcrumb__list-item" >

            <!--/* If the Breadcrum item has a valid / non-empty url */-->
          	<a data-sly-test.haslink="${ link.path }"
              href="${ link.path }"
              target="${ link.target }"
              aria-label="Go back to ${ link.title }">${ link.title }</a>

            <!--/* Else render just the label witout link */-->
            <span data-sly-test="${ !haslink }">${ link.title }</span>

            <!--/* Don't render the icon for the last link */-->
            <i data-sly-test="${ linkList.index != data.breadcrumbList.size }"
              class="icon icon-chevron-right"></i>
          </li>
        </ul>
      </sly>
      <sly data-sly-test="${data.breadcrumbList.size >= 6}">
        <ul data-sly-list.link="${data.breadcrumbList}" class="eaton-breadcrumb__list">
          <sly data-sly-test="${linkList.first}">

            <li class="eaton-breadcrumb__list-item" >


              <!--/* If the Breadcrum item has a valid / non-empty url */-->
              <a data-sly-test.haslink="${ link.path}"
                href="${ link.path }"
                target="_self"
                aria-label="Go back to ${ link.title }">${ link.title }</a>

              <!--/* Else render just the label witout link */-->
              <span data-sly-test="${ !haslink }">${ link.title }</span>

              <!--/* Don't render the icon for the last link */-->
              <i data-sly-test="${ linkList.index != data.breadcrumbList.size }"
                class="icon icon-chevron-right"></i>
            </li>
          </sly>

          <sly data-sly-test="${linkList.index == 1}">
            <li class="eaton-breadcrumb__list-item" >
              <span>...</span>
              <i class="icon icon-chevron-right"></i>
            </li>
          </sly>
           <!--/* Setting  GrandParent Index  */-->

          <sly data-sly-test="${linkList.index >= data.grandParentIndex}">
            <li class="eaton-breadcrumb__list-item" >



              <!--/* If the Breadcrum item has a valid / non-empty url */-->
              <a data-sly-test.haspath="${ link.path}"
                href="${ link.path }"
                target="_self"
                aria-label="Go back to ${ link.title }">${ link.title }</a>

              <!--/* Else render just the label witout link */-->
              <span data-sly-test="${ !haspath }">${ link.title }</span>

              <!--/* Don't render the icon for the last link */-->
              <i data-sly-test="${ linkList.index != data.breadcrumbList.size }"
                class="icon icon-chevron-right"></i>
            </li>
          </sly>
        </ul>
      </sly>
    </div>
  </div>

</sly>