<div data-sly-test="${wcmmode.edit}"></div>


<body>
    <div data-sly-use.data="attributeIdJsonGenerator-component.js">
        <sly data-sly-test="${data}">
            <h2>${'attributeId' @i18n}</h2>
            <!-- The form starts -->
            <form action="/" method="POST" enctype="multipart/form-data" id="form-id">

                <!-- The file to upload -->
                <p>
                    <input id="file-id" accept=".xls,.xlsx" type="file" onchange="checkfile(this);" name="our-file" />

                <p class="small-font">${'onlyXlsx' @i18n}</p>

                <input type="button" value="${data.uploadTitle}" id="upload-button-id" disabled="disabled" /></p>

                <script>


                    function checkfile(sender) {
                        var validExts = new Array(".xlsx", ".xls");
                        var fileExt = sender.value;
                        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
                        if (validExts.indexOf(fileExt) < 0) {
                            alert("Invalid file selected, valid files are of " +
                                validExts.toString() + " types.");
                            return false;
                        }
                        else return true;
                    }


                    // Function that will allow us to know if Ajax uploads are supported
                    function supportAjaxUploadWithProgress() {
                        return supportFileAPI() && supportAjaxUploadProgressEvents() && supportFormData();

                        // Is the File API supported?
                        function supportFileAPI() {
                            var fi = document.createElement('INPUT');
                            fi.type = 'file';
                            return 'files' in fi;
                        };

                        // Are progress events supported?
                        function supportAjaxUploadProgressEvents() {
                            var xhr = new XMLHttpRequest();
                            return !!(xhr && ('upload' in xhr) && ('onprogress' in xhr.upload));
                        };

                        // Is FormData supported?
                        function supportFormData() {
                            return !!window.FormData;
                        }
                    }

                    // Actually confirm support
                    if (supportAjaxUploadWithProgress()) {
                        // Ajax uploads are supported!
                        // Change the support message and enable the upload button
                        var notice = document.getElementById('support-notice');
                        var uploadBtn = document.getElementById('upload-button-id');
                        uploadBtn.removeAttribute('disabled');


                        // Init the Ajax form submission
                        initFullFormAjaxUpload();

                        // Init the single-field file upload
                        initFileOnlyAjaxUpload();
                    }

                    function initFullFormAjaxUpload() {
                        var form = document.getElementById('form-id');
                        form.onsubmit = function () {
                            // FormData receives the whole form
                            var formData = new FormData(form);

                            // We send the data where the form wanted
                            var action = form.getAttribute('action');

                            // Code common to both variants
                            sendXHRequest(formData, action);

                            // Avoid normal form submission
                            return false;
                        }
                    }

                    function initFileOnlyAjaxUpload() {
                        var uploadBtn = document.getElementById('upload-button-id');
                        uploadBtn.onclick = function (evt) {
                            var formData = new FormData();

                            // Since this is the file only, we send it to a specific location
                            //   var action = '/upload';

                            // FormData only has the file
                            var fileInput = document.getElementById('file-id');
                            var file = fileInput.files[0];
                            formData.append('our-file', file);

                            // Code common to both variants
                            sendXHRequest(formData);
                        }
                    }

                    // Once the FormData instance is ready and we know
                    // where to send the data, the code is the same
                    // for both variants of this technique
                    function sendXHRequest(formData) {

                        var test = 0;

                        $.ajax({
                            type: 'POST',
                            url: '/eaton/attributeIdGenerator',
                            processData: false,
                            contentType: false,
                            data: formData,
                            success: function (msg) {
                                //  alert(msg); //display the data returned by the servlet
                                if (msg.match(/only excel format allow/i)) {

                                    alert(msg);

                                }
                                else {

                                    onreadystatechangeHandler(msg);
                                    onloadstartHandler();

                                }


                            },
                            error: function () {
                                console.log('err')
                            }
                        });

                    }

                    // Handle the start of the transmission
                    function onloadstartHandler(evt) {
                        var div = document.getElementById('upload-status');
                        div.innerHTML = 'File Uploaded!';
                        document.getElementById("success").classList.remove("hide");

                    }


                    function onprogressHandler(evt) {
                        var div = document.getElementById('progress');
                        var percent = evt.loaded / evt.total * 100;
                        div.innerHTML = 'Progress: ' + percent + '%';
                    }

                    // Handle the response from the server
                    function onreadystatechangeHandler(evt) {
                        var result = document.getElementById('result');
                        result.innerHTML = '<p>The server saw it as:</p><pre>' + evt + '</pre>';
                    }
                </script>

                <!-- Placeholders for messages set by event handlers -->
                
                <p id="progress"></p>
                <pre id="result"></pre>
                <p id="upload-status"></p>
                <p id="success" class="hide">${data.successMsg}</p>
                <p id="fail" class="hide">${data.failureMsg}</p>

            </form>
        </sly>
    </div>


</body>

</html>