<sly data-sly-test="${ wcmmode.edit }">
  <div class="alert alert-warning">DataSheet Dispatch</div>
</sly>
<div class="container dispatcher left-textarea ">
  <div class="row dispatcher-intro stickydsp">
    <div class="dsp-top-sect">
      <div class="col-md-4">

        <div class="row">
          <div class="col-md-12">
            <h1>${'Datasheet.disp' @i18n}</h1>
            <p>${'Datasheet.createDeepLink' @i18n}</p>
          </div>
        </div>
      </div>

      <div class="col-md-8 text-right">
        <button id="createDeepLinks2"
          class="scroll-top  b-button b-button__tertiary b-button__tertiary--light">${'Datasheet.Create' @i18n}</button>

        <button id="reset-dispatcher" class="b-button b-button__primary b-button__primary--light">${'Reset'
          @i18n}</button>
        <button id="send-mail" class="b-button b-button__tertiary b-button__tertiary--light">${'Datasheet.SendMail'
          @i18n}</button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="articleTextArea row">
      <label for="article" class="title">${'Datasheet.EnterCatNum' @i18n}</label>
      <p class="small-font">${'Datasheet.PleasUseComma' @i18n}</p>
      <p class="small-font">${'Datasheet.PleasMaxArtAllowed' @i18n}</p>
      <div class="bg-light">
        <textarea name="article" id="articleTA" rows="8" class="dispatcher-textarea"></textarea>
      </div>

    </div>
    <br>
    <div class="fileUploader row">
      <label for="xlfile" class="title">${'Datasheet.upload' @i18n}</label>
      <p><a href="#" data-toggle="modal" data-target="#dispatcher_learn_more_modal">${'Datasheet.ClickMoreInfo'
          @i18n}</a></p>
      <input type="file" name="xlfile" multiple id="xlsxUploader" accept=".xlsx">
    </div>
    <div class="localeselector row">
      <p class="title">${'Datasheet.SelectLang' @i18n}</p>
      <div class="bg-light container">
        <div class="col-md-12 leng_raw">
          <input type="checkbox" name="locales" id="English" value="en-us">
          <label for="locales">${'English' @i18n}</label>
        </div>
        <div class="col-md-12 leng_raw">
          <input type="checkbox" name="locales" id="" value="de-de">
          <label for="locales">${'German' @i18n}</label>
        </div>
        <div class="col-md-12 leng_raw">
          <input type="checkbox" name="locales" id="" value="fr-fr">
          <label for="locales">${'French' @i18n}</label>
        </div>
      </div>
      <br>
      <button id="createDeepLinks"
        class="scroll-top b-button b-button__tertiary b-button__tertiary--light">${'Datasheet.Create' @i18n}</button>
    </div>
  </div>
  <div class="col-md-9">

    <div id="target" class="flexTable datasheet-dispatcher-main-table" data-dd-no-cap="${'Datasheet.ddArtNoCap'  @i18n}"
      data-dd-lang-cap="${'Datasheet.ddLangCap'  @i18n}" data-dd-sku-link-cap="${'Datasheet.ddArtSKULinkCap'  @i18n}"
      data-dd-pdf-link-cap="${'Datasheet.ddArtPDFLinkCap'  @i18n}"
      data-dd-spec-link-cap="${'Datasheet.ddArtSKUSpecCap'  @i18n}">

    </div>
  </div>
</div>

<script id="mustache-datasheet-result" type="text/mustache">
  <div class="dispatcher-table_row-parent row">
      <div class="r-dispatcher-table_row-article dispatcher-table_row__header col-sm-3 col-md-3 dsp-table-heading ">
          <span class="dsp-table-heading__first-span">{{i18n.articleNumber}} </span></div>
      <div class="dispatcher-table_row col-sm-9 col-md-9">
          <div class="dispatcher-table_row-docx row"><span class="col-sm-3 col-md-3 dsp-table-heading">{{i18n.language}}</span>
              <span class="col-sm-3 col-md-3 dsp-table-heading"> {{i18n.productSpec}} </span> <span
                      class="col-sm-3 col-md-3 dsp-table-heading"> {{i18n.productSpecAsPdf}} </span> <span
                      class="col-sm-3 col-md-3 dsp-table-heading"> {{i18n.resources}} </span></div>
      </div>
  </div>
  {{#datasheetGen}}
  <div class="dispatcher-table_row-parent row">
      <div class="datasheet-dispatcher-main-table__row-article col-sm-3 col-md-3"><a
              href="{{skuLink}}" target="_blank">{{skuId}}</a></div>
      <div class="dispatcher-table_row col-sm-9 col-md-9">
      {{#skuDeepLinksList}}
          <div class="dispatcher-table_row-docx row">
              <span class="col-sm-3 col-md-3">{{locale}}</span>
              <span class="col-sm-3 col-md-3">{{#skuLink}}<a href="{{skuLink}}#Specifications" target="_blank"><i class="icon icon-list-items" aria-hidden="true"></i></a>{{/skuLink}}{{^skuLink}}No Data{{/skuLink}}</span>
              <span class="col-sm-3 col-md-3">{{#downloadPDF}}<a href="{{downloadPDF}}" target="_blank"><img src="/content/dam/eaton/resources/icons/datasheet/pdf.png" class="datasheet_icon" alt=""></a>{{/downloadPDF}}{{^downloadPDF}}No Data{{/downloadPDF}}</span>
              <span class="col-sm-3 col-md-3">{{#downloadXls}}<a href="{{downloadXls}}#Resources" target="_blank"><i class="icon icon-doc-download" aria-hidden="true"></i></a>{{/downloadXls}}{{^downloadXls}}No Data{{/downloadXls}}</span>
          </div>
      {{/skuDeepLinksList}}
      </div>
  </div>
  {{/datasheetGen}}
</script>
<script id="mustache-datasheet-email" type="text/mustache">
  {{#datasheetGen}}
    <p>
        <b style='font-family:Arial, Helvetica, sans-serif; font-size:17px;'>{{skuId}}</b>
        {{#skuDeepLinksList}}
        <span style='font-family:Arial, Helvetica, sans-serif; font-size:15px;'><br>{{locale}}</span>
        <br> Product specs : {{#skuLink}}<a href='{{{skuLink}}}#Specifications' target='_blank' style='font-family:Arial, Helvetica, sans-serif; font-size:14px;'>{{{skuLink}}}#Specifications</a>{{/skuLink}}{{^skuLink}}<span style='font-family:Arial, Helvetica, sans-serif; font-size:14px;'>No Data</span>{{/skuLink}}
        <br> Product specifications as PDF : {{#downloadPDF}}<a href='{{{downloadPDF}}}' target='_blank' style='font-family:Arial, Helvetica, sans-serif; font-size:14px;'>{{{downloadPDF}}}</a>{{/downloadPDF}}{{^downloadPDF}}<span style='font-family:Arial, Helvetica, sans-serif; font-size:14px;'>No Data</span>{{/downloadPDF}}
        <br> All Resources : {{#downloadXls}}<a href='{{{downloadXls}}}#Resources' target='_blank' style='font-family:Arial, Helvetica, sans-serif; font-size:14px;'>{{{downloadXls}}}#Resources</a>{{/downloadXls}}{{^downloadXls}}<span style='font-family:Arial, Helvetica, sans-serif; font-size:14px;'>No Data</span>{{/downloadXls}}
        {{/skuDeepLinksList}}
    </p>
  {{/datasheetGen}}
</script>

<div class="modal fade" id="dispatcher_modal" role="dialog">
<div class="modal-dialog datasheet-dispatch__models-popup-innerdiv">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-popup" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <h4 class="modal-heading ">${ 'Err' @i18n }</h4>
      <p class="modal-part ">${ 'Error' @i18n }</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="b-button b-button__tertiary b-button__tertiary--light" data-dismiss="modal">${ 'Ok'
        @i18n }</button>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="dispatcher_learn_more_modal" role="dialog">
<div class="modal-dialog modal-lg datasheet-dispatch__models-popup-innerdiv">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-popup" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body ">
      <h4 class="modal-heading">${'Datasheet.DataFormat' @i18n}<span> ${'Datasheet.DispExample' @i18n}</span></h4>
      <ol>
        <li>${'Datasheet.SupportedFileTypes' @i18n}
          <p>
            ${'Datasheet.OnlyXlsx' @i18n}</p>
        </li>
        <li>${'Datasheet.FileSize' @i18n}
          <p>${'Datasheet.AllowedSize' @i18n}</p>
          <p>${'Datasheet.FurtherMore' @i18n}</p>
        </li>
        <li>${'Datasheet.DataFormat' @i18n}
          <ul>
            <li>${'Datasheet.OnlyFirst' @i18n}</li>
            <li>${'Datasheet.FirstColumn' @i18n} </li>
            <li>${'Datasheet.TheCells' @i18n}</li>
            <li>${'Datasheet.FirstRow' @i18n}</li>

          </ul>
        </li>
      </ol>

      <p class=""> ${'Datasheet.DownloadThe' @i18n} <a
          href="/content/dam/eaton/resources/datasheet-dispatch/example.xlsx" target="_blank"
          rel="noopener noreferrer"> ${'Datasheet.ExampleFile' @i18n}
        </a><i>-></i>"</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="b-button b-button__tertiary b-button__tertiary--light" data-dismiss="modal">${ 'Ok'
        @i18n }</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade small_poup" id="locale_error" role="dialog">
<div class="modal-dialog datasheet-dispatch__models-popup-innerdiv">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-popup" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">

      <p class="">${'Datasheet.OneLanuage' @i18n}</p>

    </div>

    <div class="modal-footer">
      <button type="button" class="b-button b-button__tertiary b-button__tertiary--light" data-dismiss="modal">${ 'Ok'
        @i18n }</button>
    </div>
  </div>
</div>
</div>


<div class="modal fade small_poup" id="create_error" role="dialog">
<div class="modal-dialog  datasheet-dispatch__models-popup-innerdiv">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-popup" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">

      <p class="">${'Datasheet.CatalogNumber' @i18n }</p>

    </div>

    <div class="modal-footer">
      <button type="button" class="b-button b-button__tertiary b-button__tertiary--light" data-dismiss="modal">${ 'Ok'
        @i18n }</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade small_poup" id="space_error" role="dialog">
<div class="modal-dialog datasheet-dispatch__models-popup-innerdiv">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-popup" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">

      <p class="">${'Datasheet.PleaseAddComma' @i18n}</p>


    </div>

    <div class="modal-footer">
      <button type="button" class="b-button b-button__tertiary b-button__tertiary--light" data-dismiss="modal">${ 'Ok'
        @i18n }</button>
    </div>
  </div>
</div>
</div>


<div class="modal fade small_poup" id="above_sku_error" role="dialog">
<div class="modal-dialog datasheet-dispatch__models-popup-innerdiv">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-popup" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">

      <p class="">${'Datasheet.YouCanNot' @i18n}</p>

    </div>

    <div class="modal-footer">
      <button type="button" class="b-button b-button__tertiary b-button__tertiary--light" data-dismiss="modal">${ 'Ok'
        @i18n }</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade small_poup" id="dispatcher_Email_modal" role="dialog">
<div class="modal-dialog datasheet-dispatch__models-popup-innerdiv">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-popup" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="mail-box">

        <sly data-sly-use.tpl="eaton/components/shared/templates/sku-list-send-email.html">
          <sly data-sly-call="${ tpl.module @ data=viewData.datasheetDispatchBean}"></sly>
        </sly>
      </div>
    </div>
    <div class="modal-footer">

    </div>
  </div>
</div>
</div>