<sly data-sly-test="${ wcmmode.edit }">
    <div class="alert alert-warning">Vertical Link List: ${currentNode.name}</div>
</sly>

<sly data-sly-use.data="com.eaton.platform.core.models.verticallinklist.VerticalLinkListModel" />

<sly data-sly-test="${data.view == 'vertical'}">
 <sly data-sly-include="views/view-list-vertical.html"></sly>
</sly>

<sly data-sly-test="${data.view == 'column'}">
    <sly data-sly-include="views/view-2-columns.html"></sly>
</sly>

<sly data-sly-test="${data.view == 'links'}">
    <sly data-sly-include="views/view-links.html"></sly>
</sly>