// Import All SASS config files (Variables, Mixins, Functions etc...)
@import "../../../global/css/_config/sass";

/* stylelint-disable selector-max-id, declaration-no-important, selector-class-pattern  */

.guideFieldLabel label,
.dropDownList select {
  font-size: 1em;
}

.button-medium {
  font-size: 100%;
  border: 2px solid #005cbc;
  border-radius: 0 !important;
  background: none !important;
  border-style: solid !important;
  display: inline-block !important;
  font-weight: bold !important;
  max-width: 600px !important;
  padding: 15px 15px !important;
  color: #005eb8 !important;
  border-color: #005eb8 !important;
  text-align: center !important;
  min-width: 200px;

  &:hover {
    color: #fff !important;
    background: #005eb8 !important;
    text-decoration: none;
    border-radius: 0 !important;
  }

  &.submit,
  &.reset {
    margin-left: 10px;
  }
}

.ctabutton {
  margin-top: 20px;
  margin-bottom: 15px;
}

@include media-mobile-only {

  .button-medium {
    &.submit,
    &.reset {
      margin-left: 12px;
    }
  }
}
